
@media all and (max-width: 1050px) {
    .contact__container {
        flex-direction: column;
    }
    .contact__form {
        margin: 0 auto;
        padding-bottom: 70px;
    }
    .contact__clients {
        margin: 0 auto;
    }
    .video__play {
        width: 50px;
        height: 50px;
    }
    
}

@media all and (max-width: 950px) {
   .footer__container {
        justify-content: center;
   }
    .footer__card {
        display: none;
   }
   .footer__adress{
        margin-right: 20px;
   }
  .video__btn {
      margin: 20% 39%;
  }
}

@media all and (max-width: 740px) {
    .menu__menu a {
        font-size: 12px;
        margin-left: 10px;
    }
    .works__title {
        margin-left: 5%
    }
    .works__link {
        margin-right: 5%
    }
    .expertise__body {
        grid-template-columns: repeat(2, 1fr);
    }
    .team__body {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .menu__menu {
        margin-right: 30px;
        margin-top: 20px;
        width: 80px;
        height: 100px;
        transition: 0.9s;
        text-align: right;
    }
    .menu__menu input[type="checkbox"] {
         display: none;   
    }
     .menu__menu nav li {
        display: inline-block;
        transition: 0.9s;
    }
    .menu__menu a {
        transition: 0.9s;     
    }      
    .menu__menu label {
        display: inline-block;
        cursor: pointer;
        font-size: 13px;
        letter-spacing: 0px;
        color: #08ccc2;
        font-weight: 900;
        text-transform: uppercase;
        margin-left: 25px;
    }     
    .menu__menu label:hover {
        opacity: 50%;
        transition: 0.5s ease-out;
    }
    .menu__menu input:focus{
        content: '';
        color: #08ccc2;
        transition: color 0.5s ease-out;
    }
    .menu__menu ul {
         display: none;
         margin-top: 5px;
    }
    .menu__menu li {
        display: block;
        margin-top: 5px;
    }
    .menu__menu input[type="checkbox"]:checked~label+ul {
        display: block;          
        transition: 0.9s;    
    } 
}

@media all and (max-width: 640px) {
    .about__about {
        display: block;
        padding: 70px 20px 70px 20px;
    }
    .about__logo {
        float: left;
        margin-right: 20px;
    }
    .about__img {
        width: 120px;
        height: 115px;
    }
    .footer__container {
        padding: 70px 20px 70px 20px;
    }
}

@media all and (max-width: 580px) {
    .video__btn {
            margin: 20%  33%;
    }
    .video__play-text {
        display: none;
    }
}
@media all and (max-width: 520px) {
    .contact__form-form input, textarea {
            width: 300px;
    }
    .contact__clients-logos {
        column-gap: 30px;
        row-gap: 50px;
    }
    .footer__container {
        display: block;
    }
    .footer__adress {
        margin-bottom: 70px;
    }
 
}

@media all and (max-width: 480px) {
    .video__btn {
        margin: 20% 30%;
    }
} 

@media all and (max-width: 430px) {
    .works__header {
        letter-spacing: 0px;
    }
    .video__btn {
         margin: 20% 28%;
         }
 }

 @media all and (max-width: 380px){
    .works__title {
        display: none;
    }
    .works__link {
        margin: 0 auto;
    }
    .contact__form-form input, textarea {
        width: 250px;
    }
    .contact__clients-logo {
     width: 100px;
     height: auto;
    }
    .feedback__content{
            width: 250px;
    }
    .expertise__body {
        grid-template-columns: repeat(1, 1fr);
    }
    .team__body {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
    }
    .video__btn {
            margin: 20% 25%;
    }
 }

  @media all and (max-width: 360px) {
    .video__btn {
            margin: 20% 20%;
        }
    .footer__form input {
        max-width: 140px;
    }
  }

@media all and (max-width: 320px) {
        .video__btn {
            margin: 20% 15%;
    }
   .contact__form-form input,
   textarea {
       width: 200px;
   }
}