*{
	padding: 0;
	margin: 0;
	border: 0;
}
a {
	text-decoration: none;
}

body{
	max-width: 1600px;
	background-color: #fff;
	margin: 0 auto;
	box-shadow: 0 5px 5px 5px #413d4b;
}

 /* Header  */
.header {height: auto;
	max-width: 1600px;
	background-image: url("../images/Header/03.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-color: rgb(13, 13, 78);
	padding: 15px 10px 70px 10px;
}
.header__top {
	font-family: "Roboto";
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 960px;
	margin: 0 auto;
}
.header__logo {
	display: flex;
}
.header__logo-image {
	width: 45px;
	height: 50px;
	margin-right: 10px;
}
.header__logo-title {
	font-size: 30px;
	color: #66dbdb;
	font-weight: 250;
}
.menu__menu label, input[type="checkbox"] {
	display: none;
}
.menu__menu a{
	font-size: 13px;
	letter-spacing: 0px;
	color: #ffffff;
	font-weight: 900;
	text-transform: uppercase;
	margin-left: 25px;
}
.menu__menu ul {
	list-style: none;
	display: flex;
}
.menu__menu a:hover{
	color: #08ccc2;
	transition: 0.5s ease-out;
}
.header__main {
	max-width: 940px;
	margin: 165px auto 0 auto;
	text-align: center;
}
.header__title {
	font-size: 32px;
	letter-spacing: 0px;
	color: #ffffff;
	font-weight: 900;
	font-family: "Playfair Display";
}
.header__separator{
	margin: 30px 0 30px 0;
}
.header__text {
	font-size: 14px;
	letter-spacing: 1px;
	line-height: 24px;
	color: #ffffff;
	font-weight: 300;
	font-family: "Roboto";
}
.header__btn {
	padding: 15px 20px;
	margin: 50px 0 125px 0;
}
.btn {
	background-color: transparent;
	cursor: pointer;
	color: #08ccc2;
	border: thin solid #08ccc2;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 400;
	font-family: "Hammersmith One";
}
.btn:hover {
	background-color: #08ccc2;
	color: #fff;
	transition: 1s ease-out;
}
.header__wrap {
	max-width: 940px;
	margin: 0 auto;
}
.header__dots {
	justify-content: center;
	width: 100%;
	display: flex;
	z-index: 22222;
}
.header__dot {
	list-style-type: none;
	border: 1px solid #bab9bc;
	width: 7px;
	height: 7px;
	border-radius: 50%;
	margin: 0 5px;
	cursor: pointer;
	transition: all .5s ease-in-out;
	position: relative;
}
.header__dot:hover,
.header__dot.active{
	background: #08ccc2;
	border-color: #08ccc2;
}
.header__dot.active {
	animation: header-main-scale .9s ease-in-out forwards;
} 
.header__content {
	position: relative;
	overflow: hidden;
	margin: 0 auto;
	padding: 0 80px 0 80px;
}
.header__content>div {
	text-align: center;
	position: absolute;
	opacity: 0; 
}
/* Animation */
.header__content>div.inactive {
	opacity: 1;
}
.header__content>div.active {
	opacity: 1;
	position: relative;
}
.header__content div.active p {
	animation: header-content-in .9s ease-in-out forwards;
}
.header__content div.active h2 {
	animation: header-content-in .9s ease-in-out forwards;
}
.header__content div.active button {
	animation: header-content-in .9s ease-in-out forwards;
}
.header__content div.inactive p {
	animation: header-content-out .9s ease-in-out forwards;
}
.header__content div.inactive h2 {
	animation: header-content-out .9s ease-in-out forwards;
}
.header__content div.inactive button {
	animation: header-content-out .9s ease-in-out forwards;
}
@keyframes header-content-in {
	from {
		opacity: 0;
		transform: translateX(100%);
	}

	to {
		opacity: 1;
		transform: translateX(0);
	}
}
@keyframes header-content-out {
	from {
		opacity: 1;
		transform: translateX(0);
	}

	to {
		opacity: 0;
		transform: translateX(-100%);
	}
}
@keyframes header-content-show {
	from {
		opacity: 0;
		transform: scale(0);
	}

	to {
		opacity: 1;
		transform: scale(1);
	}
}
@keyframes header-content-hide {
	from {
		opacity: 1;
		transform: scale(1);
	}

	to {
		opacity: 0;
		transform: scale(0);
	}
}


/* About */
.about {
	max-width: 1600px;
}
.about__about{
	max-width: 960px;
	margin: 0 auto;
	display: flex;
	padding: 70px 10px 70px 10px;
}
.about__logo {
	margin-right: 80px;
}
.about__img {
	width: 240px;
	height: 230px;
}
.about__story {
	padding-left: 20px;
}
.about__title {
	font-size: 22px;
	letter-spacing: 1px;
	color: #413d4b;
	font-weight: 700;
	font-family: "Playfair Display";
	text-transform: uppercase;
	margin-bottom: 30px;
}
.about__text {
	font-size: 14px;
	letter-spacing: 0px;
	line-height: 22px;
	color: #413d4b;
	font-weight: 300;
	font-family: "Roboto";
	margin-bottom: 30px;
	
}
.about__btn {
	padding: 10px 15px 10px 15px;
}


/* Video */
.video {
	max-width: 1600px;
	height: auto;
	position: relative;
	cursor: pointer;
}
.video__container {
	margin: 0 auto;
	position: relative;
	justify-items: center;
}
.video__btn {
	position: absolute;
	width: 180px;
	height: auto;
	margin: 20% 45%;
	text-align: center; 
}
.video__play {
	width: 100px;
	height: 100px;
	/* margin-bottom: 35px; */
}
.video__play:hover {
	background-color: #e0e0e0;
	border-radius: 50%;
}
.video__play-text {
	display: block;
	color: #fff;
	font-size: 16px;
	letter-spacing: 1px;
	font-weight: 900;
	font-family: "Roboto";
}
.video__video{
	max-width: 100%;
}


/* Expertise */
.expertise {
	max-width: 1600px;
}
.expertise__container {
	max-width: 960px;
	height: auto;
	margin: 0 auto;
	padding: 70px 10px 60px 10px;
}
.expertise__head {
	width: 100%;
	font-family: "Playfair Display";
	text-align: center;
}
.expertise__title {
	font-size: 22px;
	letter-spacing: 1px;
	color: #413d4b;
	font-weight: 700;
	margin-bottom: 15px;
	text-transform: uppercase;
}
.expertise__subtitle {
	font-size: 14px;
	letter-spacing: 1px;
	color: #2f2d35;
	font-weight: 400;
}
.expertise__separator {
	margin: 15px auto 40px auto;
}
.expertise__body {
	width: 100%;
	font-family: "Roboto";
	text-align: center;
	font-size: 14px;
	letter-spacing: 1px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}
.expertise__item {
	padding: 40px 0 40px 0;
}
.expertise__item:hover {
	cursor: pointer;
	border-top: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
}
.expertise__item-image {
	width: 50px;
	height: 50px;
	margin-bottom: 30px;
}
.expertise__name-item {
	color: #413d4b;
	font-weight: 900;
	text-transform: uppercase;
	margin-bottom: 20px;
}
.expertise__text-item {
	line-height: 22px;
	color: #333333;
	font-weight: 300;
}


/* Team */
.team {
	max-width: 1960px;
	background-image: url("../images/Team/06.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-color: rgb(13, 13, 78);
}
.team__container {
	max-width: 960px;
	padding: 70px 10px 70px 10px;
	margin: 0 auto;
	text-align: center;
}
.team__head {
	font-family: "Playfair Display";
	letter-spacing: 1px;
	text-transform: uppercase;
}
.team__title {
	font-size: 22px;
	color: #ffffff;
	font-weight: 700;
	margin-bottom: 15px;
}
.team__subtitle {
	font-size: 14px;
	color: #f9f9f9;
	font-weight: 400;
}
.team__separator {
	margin: 15px auto 25px auto;
}
.team__body {
	display: flex;
	justify-content: center;
	text-transform: uppercase;
}
.team__item {
	font-family: "Roboto";
	padding: 25px 0 25px 0;
	margin: 0 10px;
}
.team__item:hover {
	cursor: pointer;
	border-top: 0.5px solid #655b80;
	border-bottom: 0.5px solid #655b80;
}
.team__person-image {
	max-width: 220px;
	max-height: 230px;
	margin-bottom: 20px;
}
.team__person-name {
	font-size: 14px;
	letter-spacing: 1px;
	color: #ffffff;
	font-weight: 900;
	margin-bottom: 10px;
}
.person__position {
	font-size: 13px;
	color: #fafafa;
	font-weight: 300;
}
.team__text-footer {
	margin-top: 70px;
	font-size: 14px;
	letter-spacing: 1px;
	color: #f3f3f3;
	font-weight: 300;
	font-family: "Roboto";
}
.team__btn {
	margin-top: 25px;
	padding: 15px 15px 15px 15px;
}


/* Works */
.works {
	max-width: 1600px;
	height: auto;
}
.container__works {
	width: 100%;
	
}
.works__header {
	display: flex;
	justify-content: space-between;
	letter-spacing: 1px;
	padding: 70px 0 70px 0;
}
.works__title {
	color: #413d4b;
	font-weight: 700;
	font-family: "Playfair Display";
	text-transform: uppercase;
	margin-left: 18%;
}
.works__link {
	color: #413d4b;
	font-weight: 300;
	font-family: "Roboto";
	margin-right: 18%;
}
.works__link:hover {
	color: #08ccc2;
	transition: 0.5s ease-out;
}
.works__part-one {
	display: grid;
	width: 100%;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-auto-rows: 220px;
	grid-auto-flow: dense;
	justify-content: stretch;
}
.works__img {
	object-fit: cover;
	width: 100%;
	height: 100%;
}
.works__img:hover {
	transform: scale(1.2);
	transition: transform 0.3s;
	cursor: pointer;
}
.works__part-two {
	display: grid;
	width: 100%;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-auto-rows: 220px;
	grid-auto-flow: dense;
	justify-content: stretch;
	display: none;
}
.works__end {
	width: 100%;
	margin-top: 70px;
	text-align: center;
	font-size: 14px;
	letter-spacing: 1px;
	color: #413d4b;
	font-weight: 300;
	font-family: "Roboto";
	display: none;
}
.works__btn {
	padding: 15px 30px 15px 30px;
}
.works__button {
	text-align: center;
	padding: 70px 0 70px 0;
}


/* Feedback */
.feedback {
	max-width: 1600px;
	background-image: url("../images/Feedback/06.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}
.feedback__container {
	max-width: 960px;
	text-align: center;
	color: #fff;
	margin: 0 auto;
	padding-top: 70px;
	padding-bottom: 70px;
}
.feedback__content {
	position: relative;
	overflow: hidden;
	max-width: 780px;
	margin: 0 auto;
}
.feedback__content>div {
	text-align: center; 
	position: absolute;
	opacity: 0;
}
.feedback__content div.inactive {
	opacity: 1;
}
.feedback__content div.active {
	opacity: 1;
	position: relative;
}
.feedback__content div p {
	width: 100%;
	margin: auto;
}
.feedback__content div.active h5 {
	animation: feedback__content-in .5s ease-in-out forwards;
}
.feedback__content div.active p {
	animation: feedback__content-in .5s ease-in-out forwards;
}
.feedback__content div.inactive h5 {
	animation: feedback__content-out .5s ease-in-out forwards;
}
.feedback__content div.inactive p {
	animation: feedback__content-out .5s ease-in-out forwards;
}
.feedback__quotes {
	font-size: 100px;
	letter-spacing: 3px;
	line-height: 22px;
	font-weight: 400;
	margin-bottom: 40px;
}
.feedback__text {
	font-size: 16px;
	letter-spacing: 0px;
	line-height: 26px;
	font-weight: 400;
	font-family: "Playfair Display";
}
.feedback__name-person {
	font-size: 14px;
	letter-spacing: 1px;
	line-height: 22px;
	font-weight: 900;
	font-family: "Roboto";
	margin-bottom: 10px;
	margin-top: 55px;
	text-transform: uppercase;
}
.feedback__position {
	font-size: 13px;
	line-height: 22px;
	font-weight: 300;
	font-family: "Roboto";
	text-transform: uppercase;
}
.feedback__images {
	margin-top: 45px;
}
.feedback__image {
	width: 70px;
	height: 70px;
	border-radius: 50%;
	transition: all .5s ease-in-out;
	margin-bottom: 45px;
	border: 2px solid #655b80;
}
.feedback__dots {
	justify-content: center;
	display: flex;
	z-index: 3333;
}
.feedback__dot {
	list-style-type: none;
	border: 1px solid #bab9bc;
	width: 5px;
	height: 5px;
	border-radius: 50%;
	margin: 0 5px;
	cursor: pointer;
	transition: all .5s ease-in-out;
	position: relative;
	margin-top: 40px;
}
.feedback__dot:hover,
.feedback__dot.active {
	background: #08ccc2;
	border-color: #08ccc2;
}
.feedback__dot.active {
	animation: feedback-container-scale .9s ease-in-out forwards;
}
.feedback__arrows {
	display: inline-block;
	color: #eee;
	cursor: pointer;
	transition: all .3s ease-in-out;
	padding: 5px;
	z-index: 22222222;
}
.feedback__left-arrow,
.feedback__rightt-arrow {
 	margin-top: -20px;
	position: absolute;
}
.feedback__left-arrow {
	margin-left: -80px;	
}
.feedback__rightt-arrow {
	margin-left: 75px;
}

@keyframes feedback__content-in {
	from {
		opacity: 0;
		transform: translateX(100%);
	}

	to {
		opacity: 1;
		transform: translateX(0);
	}
}
@keyframes feedback__content-out {
	from {
		opacity: 1;
		transform: translateX(0);
	}

	to {
		opacity: 0;
		transform: translateX(-100%);
	}
}

@keyframes feedback__container-show {
	from {
		opacity: 0;
		transform: scale(0);
	}

	to {
		opacity: 1;
		transform: scale(1);
	}
}

@keyframes feedback__container-hide {
	from {
		opacity: 1;
		transform: scale(1);
	}

	to {
		opacity: 0;
		transform: scale(0);
	}
}


/* Contact */
.contact {
	max-width: 1600px;
}
.contact__container {
	max-width: 960px;
	margin: 0 auto;
	display: flex;
	padding: 70px 10px 70px 10px;
	justify-content: space-between;
}
.contact__form {
	float: left;
}
.contact__form-title,
.contact__clients-title {
	font-size: 22px;
	letter-spacing: 1px;
	color: #413d4b;
	font-weight: 700;
	font-family: "Playfair Display";
	text-transform: uppercase;
	margin-bottom: 30px;
}
.contact__form-form input, textarea {
	font-size: 14px;
	letter-spacing: 1px;
	color: #413d4b;
	font-weight: 300;
	font-family: "Roboto";
	border: 1px solid #CCCCCC;
	margin-bottom: 25px;
	width: 440px;	
}
.contact__form-form input {
	padding: 15px 20px 15px 20px;
}
.contact__form-form textarea {
	resize: none;
	padding: 20px 20px 20px 20px;
	height: 200px;
}
.contact__btn {
	padding: 10px 30px;
}
.contact__clients-logos {
	display: grid;
	grid-template-columns: repeat(2, auto);
	grid-template-rows: repeat(4, auto);
	padding-top: 15px;
	column-gap: 80px;
	row-gap: 50px;
}


/* Footer */
.footer {
	max-width: 1600px;
	background-image: url("../images/Footer/03.jpg");
	opacity: 90%;
	background-size: cover;
	background-repeat: no-repeat;
	height: auto;
}
.footer__container {
	max-width: 960px;
	justify-content: space-between;
	margin: 0 auto;
	display: flex;
	padding: 70px 10px 70px 10px;
}
.footer__card-container {
	max-width: 300px;
	font-family: "Roboto";
}
.footer__logo {
	display: flex;
}
.footer__logo-image {
	height: 50px;
	width: 45px;
}
.footer__logo-title {
	margin-left: 10px;
	font-size: 30px;
	color: #66dbdb;
	font-weight: 250;
}
.footer__text {
	padding: 25px 0 70px 0;
}
.footer__text p {
	font-size: 14px;
	letter-spacing: 0px;
	line-height: 26px;
	color: #ffffff;
	font-weight: 300;
}
.footer__card-links a{
	font-size: 14px;
	letter-spacing: 0px;
	line-height: 26px;
	color: #ffffff;
	font-weight: 400;
	text-transform: uppercase;
	margin-right: 25px;
}
.footer__card-links a:last-child {
	margin-right: -35px;
}
.footer__card-links a:hover {
	color: #08ccc2;
	transition: 0.5s ease-out;
}
.footer__title{
	font-size: 15px;
	letter-spacing: 1px;
	line-height: 26px;
	color: #ffffff;
	font-weight: 900;
	text-transform: uppercase;
}
.footer__street {
	display: flex;
}
.footer__street p {
	font-size: 14px;
	letter-spacing: 0px;
	line-height: 26px;
	color: #ffffff;
	font-weight: 300;
	padding-top: 40px;
}
.footer__phone {
	display: flex;
	padding-top: 25px;
}
.footer__phone a {
	font-size: 14px;
	letter-spacing: 0px;
	line-height: 26px;
	color: #ffffff;
	font-weight: 300;
}
.footer__phone a:hover {
	color: #08ccc2;
	transition: 0.5s ease-out;
}
.footer__street img,
.footer__phone img {
	margin-right: 15px;
}
.footer__links {
	color: #ffffff;
}
.footer__form {
	display: flex;
	padding-top: 40px;
	opacity: 30%;
}
.footer__form input{
	background: none;
	margin-right: 10px;
	width: 180px;
	height: 35px;
	border: 1px solid #fff;
	transition: color 9999999s;
}
.footer__form input._error{
	box-shadow: 0 0 15px;
}
.footer__form input:hover{
	background-color: #CCCCCC;
}
.footer__form input:focus{
	background-color: #CCCCCC;
}
.footer__form-form input::placeholder {
	color: #fff;
	font-size: 14px;
	letter-spacing: 1px;
	line-height: 26px;
	font-weight: 300;
}
.footer__subscribe {
	padding: 0 25px 0 25px;
}
.footer__btn {
	width: 70px;
	height: 35px;
	cursor: pointer;
}
.footer__btn:hover {
	opacity: 50%;
}
.footer__links-links {
	padding: 30px 0 70px 0;
}
.footer__link {
	margin-right: 5px;
}
.footer__link-logo {
	border: 1px solid #fff;
	border-radius: 50%;
}
.footer__link:last-child {
	margin-right: -5px;
}
.footer__link-logo:hover {
	background-color: #d4d3d3;
	opacity: 40%;
}
.footer__facebook {
	padding: 10px 15px;
}
.footer__twitter {
	padding: 12px 12px;
}
.footer__dribbble {
padding: 9px 10px;
}
.footer__instagram {
padding: 10px 10px;
}
.footer__google {
padding: 10px 10px;
}
.footer__youtube {
padding: 12px 9px;
}
.footer__copyright {
	font-size: 14px;
	letter-spacing: 0px;
	line-height: 26px;
	font-weight: 400;
	text-align: right;
}